.page-container {
    width: 98%;
    margin: 1%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, auto) 1fr minmax(100px, auto);
}



.nav-bar {
    width: 20%;
    /* display: flex; */

    text-align: center;
    /* justify-content: space-evenly; */
    overflow: hidden;
}

.content {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 15px;
}


/* for mobile */
/* @media (max-width: 320px) {
    .nav-bar {
        flex-direction: column;
    }
} */

/* @media (min-width: 600px) and (max-width: 900px) {

    


} */