@import url(blog-post.css);
@import url(card.css);
@import url(layout.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "roboto", sans-serif;
}

h1,
h2,
h3 {
    font-family: "poppins", sans-serif;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    color: #3498db;
}

h2 {
    font-weight: 600;
    color: #16a085;
}

h3 {
    font-weight: 500;
    color: #7f8c8d;
}

p {
    font-weight: bold;
    font-style: italic;
    /* text-decoration: underline; */
    color: #7f8c8d;

}

blockquote {
    margin: 20px auto;
    padding: 20px;
    font-size: 1.4rem;
    font-family: Georgia, serif;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
}



.nav-bar a {
    text-decoration: none;
    color: #16a085;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

.nav-bar a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post-btn {
    margin: 15px 0;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.post-btn a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}


/* for mobile */
@media (max-width: 320px) {

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }
}